<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style id="jss-server-side">
      <%%- style %>
    </style>
    <%%- tags %>
  </head>
  <body>
    <div id="root">
      <%%- content %>
    </div>
    <script>
      window.__INITIAL_STATE__ = <%%- initialState%>
    </script>
  </body>
</html>
